
{# [START bdi_create] #}
{% extends "bdi.html" %}

{% block article %}
<h1>Create inventory item</h1>
<form method="POST" enctype="multipart/form-data">
  <table>
      <tr>
          <td><label for="name">Name:</label></td>
          <td></td>
          <td><input type="text" name="name" id="name" value="" class="form-control"  maxlength="99" size="8"/></td>
      </tr>
      <tr>
          <td><label for="category">Category:</label></td>
          <td></td>
          <td><input type="text" name="category" id="category" value="" class="form-control"  maxlength="99" size="8"/></td>
      </tr>
      <tr>
          <td><label for="price">Price:</label></td>
          <td></td>
          <td><input type="text" name="price" id="price" value="" class="form-control"  maxlength="99" size="8"/></td>
      </tr>
      <tr>
          <td><label for="amount">Amount:</label></td>
          <td></td>
          <td><input type="text" name="amount" id="amount" value="" class="form-control"  maxlength="99" size="8"/></td>
      </tr>
      <tr><td></td><td> &nbsp;  &nbsp; </td><td></td></tr>
    <tr><td colspan="3" align="center"><button type="submit" class="btn btn-success">Create Inventory Item</button></td></tr>
  </table>
</form>        

{% if error %}<br><p> Error: {{error}} </p>{% endif %}

{% endblock %}
{# [END bid_create] #}    