
{# [START bdi_create] #}
{% extends "bdi.html" %}

{% block article %}
<h1>Undelete inventory item</h1>
<form method="POST" enctype="multipart/form-data">
  <table>
    <tr>
      <td><label for="id">ID:</label></td>
      <td>{{items[0].id}}</td>
      <td><label for="name">Name:</label></td>
      <td>{{items[0].name}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><label for="category">Category:</label></td>
      <td>{{items[0].category}}</td>
    </tr>
    <tr>
      <td><label for="created">Created:</label></td>
      <td>{{items[0].created}}</td>
      <td><label for="price">Price:</label></td>
      <td>{{items[0].price}}</td>
    </tr>
    <tr>
      <td><label for="updated">Updated:</label></td>
      <td>{{items[0].updated}}</td>
      <td><label for="amount">Amount:</label></td>
      <td>{{items[0].amount}}</td>
    </tr>
    <tr>
      <td><label for="comment">Comment:</label></td>
      <td colspan="3">items[0].comment</td>
    </tr>
    <tr colspan="4"><td></tr>
  <tr><td colspan="4" style="text-align:right"><button type="submit" class="btn btn-success">Undelete This Item</button></td></tr>
</table>
</form>        

{% if error %}<br><p> Error: {{error}} </p>{% endif %}

{% endblock %}
{# [END bid_create] #}    