
{# [START front] #}
{% extends "base.html" %}

{% block content %}
    <header>
        <h2>Data Engineer Intern Challenge Question</h2>
    </header>
      
      <section>
        <nav>
          <table>
            <caption><nobr>Functionality</nobr></caption>

            <tr><td><label for="tempr"><a href="/dei/add" class="btn btn-success btn-sm">
              <i class="glyphicon glyphicon-plus"></i> ADD one image to the repository
            </a></label></td></tr>

            <tr><td><label for="tempr"><a href="/dei/addmore" class="btn btn-success btn-sm">
              <i class="glyphicon glyphicon-plus"></i> ADD bulk / enormous image to the repository
            </a></label></td></tr>
            
            <tr><td><label for="tempr"><a href="/dei" class="btn btn-success btn-sm">
              <i class="glyphicon glyphicon-th-list"></i> List random images in the repository
            </a></label></td></tr>

            <tr><td><label for="tempr"><a href="/dei/search" class="btn btn-success btn-sm">
              <i class="glyphicon glyphicon-search"></i> Search image in the repository
            </a></label></td></tr>
          </table>

          <table>
            <caption><nobr>Login as User ID</nobr></caption>
            <td><input type="text" name="userid" id="userid" value="" class="form-control"  maxlength="8" size="8"/></td>
          </table>

        </nav>
        
        <article>
          {% block article %}{% endblock %}
        </article>
      </section>
      
      <footer>
        <p>Footer</p>
      </footer>
        
{% endblock %}
{# [END front] #}    